---
layout: default
title: Блог Волторнистого Артёма
---
{% include author_block.html %}

<div class="articles">
    {% for post in site.posts %}
        <article class="post container">
            <header>{{ post.title }}</header>
            {% if post.preview_image %}
                <div class="preview-image">
                    <img src="/images/articles/{{ post.preview_image }}">
                </div>
                {% if post.source %}
                    {% include source_image.html authorName=post.source.author.name authorLink=post.source.author.link imageLink=post.source.image.link %}
                {% endif %}
            {% endif %}
            <div class="published-at">
                <div class="btn btn-primary disabled btn-sm">{{ post.published_at }}</div>
            </div>
            <div class="announce">
                {{ post.excerpt }}
            </div>
            <div class="continue">
                <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Читать далее</a>
            </div>
        </article>
    {% endfor %}
</div>