<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="logo-block text-center">
        <a href="/" class="d-inline-block">
            <div class="author-name">{{ site.author_name }}</div>
            <div class="author-descriptions">увлечённый разработчик</div>
            <div class="social">
                <a href="{{ site.footer-links.telegram-channel }}" target="_blank">
                    <img src="/images/svg/telegram.svg" height="25">
                </a>
            </div>
        </a>
    </div>
</div>

<main id="main" class="flex-shrink-0" role="main">
    <div class="container">
        {{ content }}
    </div>
</main>

{% include analytics.html %}
</body>
</html>
